# Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.svclog
*.psess
*.vsp
*.vspx
*.sap
*.VC.db
*.VC.VC.opendb

# Rider / JetBrains
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Testes
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# Publish
publish/
*.Publish.xml
*.pubxml
*.pubxml.user

# Azure
*.azurePubxml
*.publishsettings

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS / editor
.DS_Store
Thumbs.db
*~
*.swp
