@model MicroondasMVC_Benner.Models.Microondas.MicroOndasModel

@{
    ViewData["Title"] = "Pagina Inicial";
}
<div class="row justify-content-center">
    
    <partial name="Teclado" />

    <partial name="Visor" />

    <partial name="PreAquecimento"/>
    
</div>







